@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --melissa: rgb(235, 235, 235);
    --angelo-prime: rgb(0, 0, 0);
    --angelo: rgb(5, 1, 14);
    --angelo-roxo: rgb(27, 5, 48);
    --roxo: #3c096cff;
    --pepsi: #5a189aff;
    --twitch: #7b2cbfff;
    --lavanderia: #9d4eddff;
    --lavender-town: #c77dffff;
    --mauve-down: #e0aaffff;
    --title: "Playfair Display", serif;
    --text: "Raleway", sans-serif;
}
.creditos {
    font-size: 10px;
    text-align: left;
}
.explicacao {
    font-size: 30px;
    display: none;
}
.explicacao.ativa {
    display: block;
}
.p {
    font-family: var(--text);
}
.h1 {
    font-family: var(--title);
}

html {
   color: var(--melissa);
   background-color: var(--angelo-roxo);
   text-align: center;
}
button {
    font-size: 20px;
    font-family: var(--text);
    padding: 7px 30px;
    background-color: var(--angelo-prime);
    color: var(--melissa);
    border: 1px solid var(--melissa);
}
button:hover {
    background-color: var(--melissa);
    color: var(--angelo-prime);
    border: 1px solid var(--angelo-prime);
}